@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap');

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

li {
	list-style: none;
}

:root {
	--poppins: 'Poppins', sans-serif;
	--lato: 'Lato', sans-serif;

	--light: #F9F9F9;
	--blue: #3C91E6;
	--light-blue: #CFE8FF;
	--grey: #eee;
	--dark-grey: #AAAAAA;
	--dark: #342E37;
	--red: #DB504A;
	--yellow: #FFCE26;
	--light-yellow: #FFF2C6;
	--orange: #FD7238;
	--light-orange: #FFE0D3;
	--purple: #e2bddc;
	--dark-purple: #9A4B8D;
	--dpurple: #440239;
	--black: #000000;

}

html {
	overflow-x: hidden;
}

body.dark {
	--light: #0C0C1E;
	--grey: #060714;
	--dark: #FBFBFB;
	--purple: #ffb8f3;

}

body {
	background: var(--purple);
	overflow-x: hidden;
}

nav {
    display: flex;
    align-items: center;
    background-color: #f1f1f1;
    padding: 10px;
}

.nav-link {
    margin-right: auto;
}

/*PROFILE*/

.profile {
    position: relative;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 10px;
}

.profile i {
    margin-left: 5px;
    font-size: 28px; /* Increase icon size */
	color: #6a1b9a;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1000; /* Ensure a high z-index */
}

.profile:hover .dropdown-menu {
    display: block;
}

.profile-info {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #f1f1f1;
    border-bottom: 1px solid #ddd;
}

.profile-info i {
    font-size: 32px; /* Increase icon size in dropdown */
    margin-right: 10px;
}

.dropdown-item {
    display: block;
    padding: 10px;
    color: #6a1b9a;
	text-align: center; 
    text-decoration: none;
    transition: background-color 0.2s;
}

.dropdown-item:hover {
    background-color: #ddd;
}

/*PROFILE*/
.head-title {
    margin-bottom: 20px;
}

.head-title .left {
    display: flex;
    flex-direction: column;
}

.breadcrumb {
    list-style: none;
    padding: 0;
    display: flex;
	background-color: #e2bddc;
}
.breadcrumb li {
    margin-right: 5px;
}

.breadcrumb li i {
    margin-right: 5px;
}

.profile-section, .student-profile-section {
    background-color: #f1f1f1;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 20px;
}

h2 {
    margin-top: 0;
}

button {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #4a148c;
}

/* SIDEBAR*/
#sidebar {
	position: fixed;
	top: 0;
	left: 0;
	width: 280px;
	height: 100%;
	background: var(--light);
	z-index: 2000;
	font-family: var(--lato);
	transition: .3s ease;
	overflow-x: hidden;
}
#sidebar:state(webkit-scrollbar) {
	display: none;
}
#sidebar.hide {
	width: 60px;
}
#sidebar .brand {
	font-size: 24px;
	font-weight: 700;
	height: 56px;
	display: flex;
	align-items: center;
	color: var(--dark-purple);
	position: sticky;
	top: 0;
	left: 0;
	background: var(--light);
	z-index: 500;
	padding-bottom: 20px;
	box-sizing: content-box;
}
#sidebar .brand .bx {
	min-width: 60px;
	display: flex;
	justify-content: center;
}
#sidebar .side-menu {
	width: 100%;
	margin-top: 48px;
}
#sidebar .side-menu li {
	height: 48px;
	background: transparent;
	margin-left: 6px;
	border-radius: 48px 0 0 48px;
	padding: 4px;
}
#sidebar .side-menu li.active {
	background: var(--purple);
	position: relative;
}
#sidebar .side-menu li.active::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	top: -40px;
	right: 0;
	box-shadow: 20px 20px 0 var(--purple);
	z-index: -1;
}
#sidebar .side-menu li.active::after {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	bottom: -40px;
	right: 0;
	box-shadow: 20px -20px 0 var(--grey);
	z-index: -1;
}
#sidebar .side-menu li a {
	width: 100%;
	height: 100%;
	background: var(--light);
	display: flex;
	align-items: center;
	border-radius: 48px;
	font-size: 16px;
	color: var(--dark);
	white-space: nowrap;
	overflow-x: hidden;
}
#sidebar .side-menu.top li.active a {
	color: var(--dark-purple);
}
#sidebar.hide .side-menu li a {
	width: calc(48px - (4px * 2));
	transition: width .3s ease;
}
#sidebar .side-menu li a.logout {
	color: var(--red);
}
#sidebar .side-menu.top li a:hover {
	color: var(--blue);
}
#sidebar .side-menu li a .bx {
	min-width: calc(60px  - ((4px + 6px) * 2));
	display: flex;
	justify-content: center;
}

#content main .head-title .left .breadcrumb li a.active1 {
	color: var(--black);
	pointer-events: unset;
	font-weight: bold; /* Makes the text bold */

}

/* WINDOW POPUP */

@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');

.confirm {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    padding: 10px;
    box-sizing: border-box;

    opacity: 0;
    animation-name: confirm---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;

    display: flex;
    align-items: center;
    justify-content: center;
}

.confirm--close {
    animation-name: confirm---close;
}

.confirm__window {
    width: 100%;
    max-width: 600px;
    background: white;
    font-size: 14px;
    font-family: 'Noto Sans', sans-serif;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

    opacity: 0;
    transform: scale(0.75);
    animation-name: confirm__window---open;
    animation-duration: 0.2s;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.confirm__titlebar,
.confirm__content,
.confirm__buttons {
    padding: 1.25em;
}

.confirm__titlebar {
    background: #222222;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.confirm__title {
    font-weight: bold;
    font-size: 1.1em;
}

.confirm__close {
    background: none;
    outline: none;
    border: none;
    transform: scale(2.5);
    color: #ffffff;
    transition: color 0.15s;
}

.confirm__close:hover {
    color: #ff0000;
    cursor: pointer;
}

.confirm__content {
    line-height: 1.8em;
}

.confirm__buttons {
    background: #eeeeee;
    display: flex;
    justify-content: flex-end;
}

.confirm__button {
    padding: 0.4em 0.8em;
    border: 2px solid #009879;
    border-radius: 5px;
    background: #ffffff;
    color: #009879;
    font-weight: bold;
    font-size: 1.1em;
    font-family: 'Noto Sans', sans-serif;
    margin-left: 0.6em;
    cursor: pointer;
    outline: none;
}

.confirm__button--fill {
    background: #009879;
    color: #ffffff;
}

.confirm__button:focus {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4); /* Initial background color and transparency */
    padding-top: 60px;
    box-sizing: border-box;
    border-color: black;
}

.modal .modal-content {
    font-family: 'Poppins', sans-serif;
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Adjust width as needed */
    max-width: 600px; /* Adjust maximum width as needed */
    text-align: center;
    border-radius: 10px;
    border: 3px solid #888; /* Increased border width */
}

.modal .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.modal .close:hover,
.modal .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.modal button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
}

.modal button:hover {
    background-color: #ddd;
}


/* FILTER BUTTON */

.btn-create-filter {
    display: inline-flex;
    align-items: center;
    background: linear-gradient(45deg, #800080, #4b0082); /* Purple gradient */
    color: white; /* Text color */
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    transition: background 0.3s, transform 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Optional: Add a shadow for depth */
}

.btn-create-filter:hover {
    background: linear-gradient(45deg, #4b0082, #2c0033); /* Darker purple gradient on hover */
    transform: translateY(-2px); /* Slight lift on hover */
}

.btn-create-filter i {
    margin-right: 8px; /* Spacing between icon and text */
}



/* FILTER FORM */

.filter-form {
	position: relative;
	display: inline-block;
}

.filter-btn {
	background: linear-gradient(45deg, #8a2be2, #4b0082); /* Purple gradient background */
	color: #fff;
	padding: 10px 15px;
	font-size: 16px;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
}

.filter-content {
	display: none;
	position: absolute;
	background-color: #f8f9fa;
	min-width: 250px;
	box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
	padding: 20px;
	z-index: 1;
	border-radius: 8px;
}

.filter-content label {
	margin-right: 10px;
	font-weight: bold;
}

.filter-content select, .filter-content input[type="date"] {
	margin-bottom: 10px;
	padding: 5px 10px;
	border: 1px solid #ced4da;
	border-radius: 4px;
	width: 100%;
}

.filter-content button {
	padding: 5px 15px;
	background-color: #28a745;
	color: #fff;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-weight: bold;
	width: 100%;
}

.filter-content button:hover {
	background-color: #218838;
}

.filter-content .close-btn {
	background-color: #dc3545;
	margin-top: 10px;
}

.filter-content .close-btn:hover {
	background-color: #c82333;
}

/* NOTICE CONTAINERS*/

.notice-container {
	border: 1px solid #ccc;
	padding: 20px;
	margin-bottom: 10px;
	border-radius: 8px;
	background-color: #fff;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.notice-container h2 {
	margin-bottom: 10px;
	color: #343a40;
}
.notice-container h4 {
	margin-bottom: 10px;
	color: #6c757d;
}
.notice-container p {
	margin-bottom: 0;
	color: #495057;
}


/* CONTENT */
#content {
	position: relative;
	width: calc(100% - 280px);
	left: 280px;
	transition: .3s ease;
}
#sidebar.hide ~ #content {
	width: calc(100% - 60px);
	left: 60px;
}


/* NAVBAR */
#content nav {
	height: 56px;
	background: var(--light);
	padding: 0 24px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
	font-family: var(--lato);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1000;
}
#content nav::before {
	content: '';
	position: absolute;
	width: 40px;
	height: 40px;
	bottom: -40px;
	left: 0;
	border-radius: 50%;
	box-shadow: -20px -20px 0 var(--light);
}
#content nav a {
	color: var(--dark);
}
#content nav .bx.bx-menu {
	cursor: pointer;
	color: var(--dark);
}
#content nav .nav-link {
	font-size: 16px;
	transition: .3s ease;
}
#content nav .nav-link:hover {
	color: var(--blue);
}
#content nav form {
	max-width: 400px;
	width: 100%;
	margin-right: auto;
}
#content nav form .form-input {
	display: flex;
	align-items: center;
	height: 36px;
}
#content nav form .form-input input {
	flex-grow: 1;
	padding: 0 16px;
	height: 100%;
	border: none;
	background: var(--grey);
	border-radius: 36px 0 0 36px;
	outline: none;
	width: 100%;
	color: var(--dark);
}
#content nav form .form-input button {
	width: 36px;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: var(--blue);
	color: var(--light);
	font-size: 18px;
	border: none;
	outline: none;
	border-radius: 0 36px 36px 0;
	cursor: pointer;
}
#content nav .notification {
	font-size: 20px;
	position: relative;
}
#content nav .notification .num {
	position: absolute;
	top: -6px;
	right: -6px;
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid var(--light);
	background: var(--red);
	color: var(--light);
	font-weight: 700;
	font-size: 12px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content nav .profile img {
	width: 36px;
	height: 36px;
	object-fit: cover;
	border-radius: 50%;
}
#content nav .switch-mode {
	display: block;
	min-width: 50px;
	height: 25px;
	border-radius: 25px;
	background: var(--grey);
	cursor: pointer;
	position: relative;
}
#content nav .switch-mode::before {
	content: '';
	position: absolute;
	top: 2px;
	left: 2px;
	bottom: 2px;
	width: calc(25px - 4px);
	background: var(--blue);
	border-radius: 50%;
	transition: all .3s ease;
}
#content nav #switch-mode:checked + .switch-mode::before {
	left: calc(100% - (25px - 4px) - 2px);
}
/* NAVBAR */

.success-popup {
    position: fixed;
	font-family: 'Poppins', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 255, 0, 0.8);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    animation: fadeOut 2s ease forwards;
}

.success-popup__content {
    text-align: center;
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(-20px);
    }
}




/* MAIN */
#content main {
	width: 100%;
	padding: 36px 24px;
	font-family: var(--poppins);
	max-height: calc(100vh - 56px);
	overflow-y: auto;
}
#content main .head-title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	grid-gap: 16px;
	flex-wrap: wrap;
}
#content main .head-title .left h1 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	margin-top: 0;
	color: var(--dark);
	
}

h1 {
	margin-block-start: 0.67em;
	/* Other styles... */
}
  
#content main .head-title .left .breadcrumb {
	display: flex;
	align-items: center;
	grid-gap: 16px;
}
#content main .head-title .left .breadcrumb li {
	color: var(--dark);
}
#content main .head-title .left .breadcrumb li a {
	color: var(--black);
	pointer-events: none;
}
#content main .head-title .left .breadcrumb li a.active {
	color: var(--dpurple);
	pointer-events: unset;
	font-weight: bold; /* Makes the text bold */

}



#content main .head-title .btn-download {
	height: 36px;
	padding: 0 16px;
	border-radius: 36px;
	background: var(--blue);
	color: var(--light);
	display: flex;
	justify-content: center;
	align-items: center;
	grid-gap: 10px;
	font-weight: 500;
}

#content main .section-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}

#content main .section-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}

.section-info a {
	display: flex; /* Make the link container display flex */
	align-items: center; /* Vertically center the icon and text */
  }
  
  .section-info a .icon {
	margin-right: 10px; /* Add spacing between icon and text */
  }
  

#content main .section-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#content main .box-info {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}
#content main .box-info li {
	padding: 24px;
	background: var(--light);
	border-radius: 20px;
	display: flex;
	align-items: center;
	grid-gap: 24px;
}
#content main .box-info li .bx {
	width: 80px;
	height: 80px;
	border-radius: 10px;
	font-size: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}
#content main .box-info li:nth-child(1) .bx {
	background: var(--light-blue);
	color: var(--blue);
}
#content main .box-info li:nth-child(2) .bx {
	background: var(--light-yellow);
	color: var(--yellow);
}
#content main .box-info li:nth-child(3) .bx {
	background: var(--light-orange);
	color: var(--orange);
}
#content main .box-info li .text h3 {
	font-size: 24px;
	font-weight: 600;
	color: var(--dark);
}
#content main .box-info li .text p {
	color: var(--dark);	
}

#content main.box-info li:nth-child(1).bx {
    background: var(--light-blue);
    color: var(--blue);
}



#content main .table-data {
	display: flex;
	flex-wrap: wrap;
	grid-gap: 24px;
	margin-top: 24px;
	width: 100%;
	color: var(--dark);
}
#content main .table-data > div {
	border-radius: 20px;
	background: var(--light);
	padding: 24px;
	overflow-x: auto;
}
#content main .table-data .head {
	display: flex;
	align-items: center;
	grid-gap: 16px;
	margin-bottom: 24px;
}
#content main .table-data .head h3 {
	margin-right: auto;
	font-size: 24px;
	font-weight: 600;
}
#content main .table-data .head .bx {
	cursor: pointer;
}

#content main .table-data .order {
	flex-grow: 1;
	flex-basis: 500px;
}
#content main .table-data .order table {
	width: 100%;
	border-collapse: collapse;
}
#content main .table-data .order table th {
	padding-bottom: 12px;
	font-size: 13px;
	text-align: left;
	border-bottom: 1px solid var(--grey);
}
#content main .table-data .order table td {
	padding: 16px 0;
}
#content main .table-data .order table tr td:first-child {
	display: flex;
	align-items: center;
	grid-gap: 12px;
	padding-left: 6px;
}
#content main .table-data .order table td img {
	width: 36px;
	height: 36px;
	border-radius: 50%;
	object-fit: cover;
}
#content main .table-data .order table tbody tr:hover {
	background: var(--grey);
}
#content main .table-data .order table tr td .status {
	font-size: 10px;
	padding: 6px 16px;
	color: var(--light);
	border-radius: 20px;
	font-weight: 700;
}
#content main .table-data .order table tr td .status.completed {
	background: var(--blue);
}
#content main .table-data .order table tr td .status.process {
	background: var(--yellow);
}
#content main .table-data .order table tr td .status.pending {
	background: var(--orange);
}


#content main .table-data .todo {
	flex-grow: 1;
	flex-basis: 300px;
}
#content main .table-data .todo .todo-list {
	width: 100%;
}
#content main .table-data .todo .todo-list li {
	width: 100%;
	margin-bottom: 16px;
	background: var(--grey);
	border-radius: 10px;
	padding: 14px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#content main .table-data .todo .todo-list li .bx {
	cursor: pointer;
}
#content main .table-data .todo .todo-list li.completed {
	border-left: 10px solid var(--blue);
}
#content main .table-data .todo .todo-list li.not-completed {
	border-left: 10px solid var(--orange);
}
#content main .table-data .todo .todo-list li:last-child {
	margin-bottom: 0;
}


/* MAIN */
/* CONTENT */

/* ANNOUNCEMENT aka activity sections */

.announcements-section {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  margin: 0 auto;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto auto; /* Two rows, auto-size */
  align-items: center;
}

.announcement-section i {
    color: var(--dark);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px;
}

.announcements-section a {
	display: block;
  }

.announcement-section.icon {
  float: left;
  margin-right: 3px;
  margin-left: 3px;
  grid-row: 1;
}

.announcement-section.text {
  overflow: hidden;
}

.announcement-section.announcement-content {
    flex: 1;
  	align-items: center;
	padding: 10px;
	grid-column: 2;
	grid-row: 2; /* Place content in the second row */
	display: flex; /* Make content a flexbox for horizontal alignment */
	flex-direction: column; /* Stack header and paragraph */
	align-items: center; /* Center content horizontally */
}

.announcement-section:nth-child(3).icon {
	grid-column: 1;
	grid-row: 2;
}
  
  .announcement-section:nth-child(3).announcement-content {
	grid-column: 2;
	grid-row: 2;
}
.announcement-section.announcement-content h3 {
    font-size: 20px;
    margin-bottom: 5px;
	margin: 0;
	overflow: hidden;
	text-overflow: ellipsis;
	
}
.announcement-section.icon {
	float: left;
	margin-right: 10px;
  }
  
.announcement-section.announcement-content p {
    font-size: 15px;
    color: var(--dark);
	margin: 0;
	overflow: wrap;
	text-overflow: ellipsis;
}

.announcement-section h3 {
	font-weight: bold;
    font-size: 20px;
	margin-top: 10px;
    margin-bottom: 5px;
    color: var(--dark-purple); /* Change this value to the desired color */
	
}

.announcement-section p {
	margin-bottom: 5px;
    font-size: 14px;
    color: var(--dark-purple); /* Change this value to the desired color */
	
}

/* FORMS */

.form-container {
	background-color: #f5f5f5;
	padding: 24px;
	border-radius: 5px;
	max-width: 800px;
	margin-top: 30px;
  }

.form-group {
	margin-bottom: 16px;
  }
  
  .form-group label {
	display: block;
	margin-bottom: 4px;
	font-size: 16px;
	font-weight: 500;
  }
  
  .form-group textarea {
	display: block;
	width: 100%;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
  }
  
  .form-group input {
	display: block;
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 400;
  }

  .form-group input:focus,
  .form-group textarea:focus {
	border-color: #4CAF50;
	box-shadow: 0 0 0 2px #4CAF50;
  }
  
  button[type="submit"] {
	background-color: #4CAF50;
	color: #fff;
	border: none;
	padding: 8px 16px;
	border-radius: 5px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
  }
  
  button[type="submit"]:hover {
	background-color: #3e8e41;
  }

  fieldset {
	border: 1px solid #ccc;
	border-radius: 5px;
	padding: 16px;
	margin-bottom: 24px;
  }
  
  legend {
	font-size: 20px;
	font-weight: 500;
	margin-bottom: 8px;
  }

  label {
	display: block;
	margin-bottom: 8px;
	font-weight: bold;
}

select {
	width: 100%;
	padding: 8px;
	border: 1px solid #ccc;
	border-radius: 5px;
	font-size: 16px;
}

select:focus {
	outline: none;
	border-color: #4d90fe;
	box-shadow: 0 0 2px 1px #4d90fe;
}
.selection-link {
	color: var(--dark);
  }

.section-container {
	/*
    display: flex;
    justify-content: space-between;
	
	display: grid;*/
	display: flex;
	flex-direction: column; 
	grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
	grid-gap: 24px;
	margin-top: 36px;
}

.new-section {
    background-color: #e0e0e0;
    padding: 10px;
    border-radius: 5px;
    width: 40%;
}

.container {
	width: 80%;
	margin: 0 auto;
	padding: 24px;
	border-radius: 5px;
  }


  /*notice*/
  .notice-container {
    background-color: #f9f9f9;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.notice-container h2 {
    font-size: 24px;
    margin-bottom: 10px;
    color: var(--dpurple);
}

.notice-container h4 {
    font-size: 18px;
    margin-bottom: 10px;
    color: #666;
}

.notice-container p {
    font-size: 16px;
    color: #555;
}
.notice-container h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #333;
}

/*table*/
table {
	width: 100%;
	border-collapse: collapse;
  }
  
  th, td {
	padding: 15px;
	text-align: left;
	border: 1px solid #ddd;
  }
  
  th {
	background-color: #f2f2f2;
	font-weight: bold;
  }
  
  tr:nth-child(even) {
	background-color: #f2f2f2;
  }
  
  tr:hover {
	background-color: #ddd;
  }
  
  input[type="radio"] {
	margin-right: 5px;
  }

@media screen and (max-width: 768px) {
	#sidebar {
		width: 200px;
	}

	#content {
		width: calc(100% - 60px);
		left: 200px;
	}

	#content nav .nav-link {
		display: none;
	}
}



@media screen and (max-width: 576px) {
	#content nav form .form-input input {
		display: none;
	}

	#content nav form .form-input button {
		width: auto;
		height: auto;
		background: transparent;
		border-radius: none;
		color: var(--dark);
	}

	#content nav form.show .form-input input {
		display: block;
		width: 100%;
	}
	#content nav form.show .form-input button {
		width: 36px;
		height: 100%;
		border-radius: 0 36px 36px 0;
		color: var(--light);
		background: var(--red);
	}

	#content nav form.show ~ .notification,
	#content nav form.show ~ .profile {
		display: none;
	}

	#content main .box-info {
		grid-template-columns: 1fr;
	}

	#content main .table-data .head {
		min-width: 420px;
	}
	#content main .table-data .order table {
		min-width: 420px;
	}
	#content main .table-data .todo .todo-list {
		min-width: 420px;
	}
}